html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}

canvas{
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
	height: 550px;
}
