@font-face {
	font-family: "Clement";
	src: url("Clement.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Aniron";
	src: url("Aniron.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "DejaVu";
	src: url("DejaVu.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: black;
	user-select: none;
	font-family: DejaVu;
	--scaleX: 0.9;
}

img {
	width: 100%;
}

small {
	margin-top: 7vw;
}

.crisp * {
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}

.centered {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

#main {
	width: 100%;
	height: calc(45vw * var(--scaleX));
	margin: auto;
	text-align: center;
}

#background {
	position: relative;
	background-image: url("../img/bg.png");
	background-size: cover;
	width: calc(90vw * var(--scaleX));
	height: 100%;
	display: inline-block;
}

#narrative {
	pointer-events: none;
	display: grid;
	align-items: center;
	position: absolute;
	margin: 3%;
	color: wheat;
	font-family: Aniron, DejaVu;
	font-size: 2vw;
	line-height: 1.5em;
	opacity: 0;
	transition: opacity 1s;
	white-space: pre-line;
}
.show {
	opacity: 1 !important;
}

#myCan {
	width: 94%;
}

#slots {
	display: inline-block;
	background: black;
}
.slot {
	position: relative;
	height: calc(9vw * var(--scaleX));
	width: calc(9vw * var(--scaleX));
}
.slot img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: width 0.1s, height 0.1s;
}
.slot:hover img {
	width: 80%;
	height: 80%;
}
.slot.selected img {
	width: 90%;
	height: 90%;
}
.slot .count.show {
	position: absolute;
	bottom: 4%;
	right: 4%;
	padding: 3%;
	color: white;
	font-size: 2vw;
	font-family: Clement;
	background-color: #180c2570;
	box-shadow: 0 0 20px #180c25;
}

#cursor {
	pointer-events: none;
	position: absolute;
	background: #000b;
	font-size: 1.2vw;
	font-family: Aniron, DejaVu;
	line-height: 1.2vw;
	margin: 0.2vw;
	padding: 1vw;
	padding-top: 0;
	padding-bottom: 1.4vw;
	color: white;
	opacity: 0;
}
